<br>
<form action="/Product/Save" method="post">

    Id:
    <input type="text" name="Id">
    <br><br>
    Name:
    <input type="text" name="Name">
    <br><br>
    Preço:
    <input type="text" name="Price">
    <br><br>
    <button type="submit">Salvar</button>
    <br><br>

</form>


@if(ViewBag.Validacao != null)
{
    <span>@ViewBag.Validacao</span>
}